.menu {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
@media (min-width:600px) and (max-width:900px) {
  .menu {
      grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:599px) {
  .menu {
      grid-template-columns: 1fr;
  }
}