.raiting {
    text-align: center;
    height:16px;
    display: flex;
    width:max-content;
}
.raiting input {
    display: none;
}
.raiting label {
    margin: 0;
    cursor: pointer;
}
.raiting label svg {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    fill: #BFBFBF;
    transition: fill 0.3s;
}
.raiting input:checked ~ label svg {
    fill: #BFBFBF;
}
.raiting:hover label svg {
    fill: #FF6633;
}
.raiting input:hover ~ label svg {
    fill: #BFBFBF;
}