.to-cart {
    padding: 8px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #70C05B;
    background-color:white;
    text-align: center;
    color: #70C05B;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    align-self: stretch;
    margin-top: auto;
}
.to-cart:hover {
    transform: scale(1.01);
    color: white;
    background-color: #70C05B;
}